<%= render partial: "shared/navbar" %>
<br><br><br><br><br>

<div class="background_image">
  <div class="flex-container_left">
    <h3 class="flex-item centered"> The Birding Journal that Classifies the Bird For You </h3>

    <div class="sign_up flex-item">
      <%= link_to "Sign Up", new_user_registration_path, class: "sign_up_button" %>
    </div>

    <div class="drawer flex-item">
      <input type="checkbox" id="drawer-toggle" class="drawer-toggle" />
      <div class="drawer-content flex-item">
        <label for="drawer-toggle" class="drawer-button">Log In</label>
      </div>
      <div class="drawer-side">
        <label for="drawer-toggle" class="drawer-overlay"></label>
        <div class="drawer-menu flex-container_left">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end %>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <br>
            <div class="actions centered">
              <%= f.submit "Submit", class: "submit_button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-container_right">
    <video controls>
      <source src="assets/Test_The_Efficient_Birder.mov" type="video/quicktime">
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<script>

document.addEventListener('turbo:load', () => {
  const drawerToggle = document.getElementById('drawer-toggle');
  const drawer = document.querySelector('.drawer');
  const drawerOverlay = document.querySelector('.drawer-overlay');

  drawerToggle.addEventListener('change', () => {
    drawer.classList.toggle('open');
  });

  drawerOverlay.addEventListener('click', () => {
    drawer.classList.remove('open');
  });
});

</script>
