<div id="<%= dom_id bird %>">

  <% if bird.image.attached? %>
    <% bird.image.each do |img| %>
      <% if img.persisted? %>
        <%= image_tag img.variant(resize_to_limit: [244, nil]) %>
      <% end %>
    <% end %>
  <% end %>

  <p>
    <strong>User:</strong>
    <%= bird.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= bird.name %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= bird.datetime %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= bird.notes %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= bird.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= bird.longitude %>
  </p>

</div>
