<div id="<%= dom_id bird %>">

  <% if bird.image.attached? %>
    <% bird.image.each do |img| %>
        <%= image_tag img.variant(resize_to_limit: [224, nil]) %>
    <% end %>

  <p>
    <strong>Name:</strong>
    <%= bird.name %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= bird.datetime %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= bird.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= bird.longitude %>
  </p>

  <div id="map-<%= bird.id %>" class="map" 
    data-latitude="<%= bird.latitude %>" 
    data-longitude="<%= bird.longitude %>"
    style='width: 300px; height: 200px;'>
  </div>

  <script>

  mapboxgl.accessToken = document.querySelector('meta[name="mapbox-access-token"]').content;

  var mapContainers = document.querySelectorAll('.map');

  mapContainers.forEach(function(mapContainer) {
      var latitude = parseFloat(mapContainer.dataset.latitude);
      var longitude = parseFloat(mapContainer.dataset.longitude);

      if (!isNaN(latitude) && !isNaN(longitude)) {
        var map = new mapboxgl.Map({
          container: mapContainer.id,
          style: 'mapbox://styles/mapbox/streets-v11', // 'mapbox://styles/mapbox/light-v11'
          center: [longitude, latitude],
          zoom: 15
        });

      new mapboxgl.Marker().setLngLat([longitude, latitude]).addTo(map);
      } 
    });

  </script>

  <p>
    <strong>Notes:</strong>
    <%= bird.notes %>
  </p>

  <%= link_to "Show this bird", bird %>
<% end %>

</div>
