<div id="<%= dom_id bird %>">

  <% if bird.image.attached? %>
    <% bird.image.each do |img| %>
        <%= image_tag img.variant(resize_to_limit: [224, nil]) %>
    <% end %>

  <p>
    <strong>Name:</strong>
    <%= bird.name %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= bird.datetime %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= bird.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= bird.longitude %>
  </p>

  <br>
  <%= render "map" %>
  <br>

  <p>
    <strong>Notes:</strong>
    <%= bird.notes %>
  </p>

  <%= link_to "Show this bird", bird %>
<% end %>

</div>
