<%= link_to "Manually Add Bird Entry", new_bird_path %>
<br><br>

<h2> Take Photo </h2>

<%= form_with model: @bird, url: "/birds/camera", method: :post, local: true do |form| %>

  <div class="customize_camera_button">
    <%= form.file_field :image, class: 'camera_button', capture: "environment", accept:"image/*,video/*" %>
    <label for="image">Take Photo</label>
  </div>
  <br>

  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :datetime %>
  <%= form.hidden_field :latitude, id: 'latitude' %>
  <%= form.hidden_field :longitude, id: 'longitude' %>
  <%= form.hidden_field :notes %>

  <div>
    <%= form.submit "Submit", id: "captureButton", class: "submit_button" %>
  </div>
<% end %>

<script>

const latitudeInput = document.getElementById('latitude')
const longitudeInput = document.getElementById('longitude')
const captureButton = document.getElementById('captureButton');

captureButton.addEventListener('click', (event) => {
  event.preventDefault();

  navigator.geolocation.getCurrentPosition(
    (position) => {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;

      latitudeInput.value = latitude;
      longitudeInput.value = longitude;

      localStorage.setItem('latitude', latitudeInput.value);
      localStorage.setItem('longitude', longitudeInput.value);

      captureButton.form.submit();
    },
    (error) => {
      console.log('Error getting location');
    },
    {
      enableHighAccuracy: true,
      maximumAge: 0, 
    }
  )  
});

</script>
 