<h1>Export</h1>

<% puts "test #{@image_urls}" %>

<div id="birds">
  <% Bird.all.each do |bird| %>
    <div id="<%= dom_id bird %>">

    <% if bird.image.attached? %>
      <% @image_urls[bird.id].each do |image_url| %>
        <%= image_tag wicked_pdf_asset_base64(image_url) %>
      <% end %>

    <p>
      <strong>Name:</strong>
      <%= bird.name %>
    </p>

    <p>
      <strong>Datetime:</strong>
      <%= bird.datetime %>
    </p>

    <p>
      <strong>Latitude:</strong>
      <%= bird.latitude %>
    </p>

    <p>
      <strong>Longitude:</strong>
      <%= bird.longitude %>
    </p>

    <p>
      <strong>Notes:</strong>
      <%= bird.notes %>
    </p>

    <% end %>

    </div>
  <% end %>
</div>
