<div class="actions centered">
  <%= link_to "New Bird", birds_photo_path, class: "new_bird_button" %>
</div>
<br>
<div class="actions centered">
  <%= link_to "For Phone Camera", birds_camera_path %>
</div>
<p class="centered"> *Please turn on location and camera if using on phone or camera*
<br>

<h1>List of Birds</h1>

<div class="actions centered">
  <%= link_to "Export Birding Journal", birds_export_path, class: "export_button" %>
</div>
<br>

<br><br>
<div class='centered'>
  <%= search_form_for @q do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name_cont %>

    <%= f.submit "Search" %>
  <% end %>
</div>
<br>

<div class='centered'>
  <p> Sort by </p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= sort_link(@q, :datetime, "Datetime") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= sort_link(@q, :name, "Name") %>
</div>

<div id="birds">
  <% @birds.each do |bird| %>
    <%= render bird %>
    <%= link_to "Edit/Delete", bird, class: "centered" %>
    <br><br><br>
  <% end %>
</div>

<br>
<div class="centered">
  <%= paginate @birds %>
</div>
