<%= render partial: "shared/navbar" %>

<br><br><br><br><br>
<div class="actions centered">
  <%= link_to "Add New Bird", birds_photo_path, class: "new_bird_button" %>
</div>
<br>
<div class="actions centered">
  <%= link_to "Back To Home", birds_path, class: "back_button" %>
</div>
<br><br>

<%= render @bird %>


<br>
<div class="actions centered">
  <%= link_to "Edit this entry", edit_bird_path(@bird), class: "edit_button" %>
</div>
<br>
<div class="actions centered">
  <%= button_to "Delete this entry", @bird, class: "delete_button", method: :delete %>
</div>
