<div class="actions">
  <%= link_to "Back to birds", birds_path, class: "back_button" %>
</div>
<br>
<div class="actions">
  <%= link_to "Add new bird", birds_camera_path, class: "new_bird_button" %>
</div>
<br><br>

<%= render @bird %>


<br>
<div class="actions centered">
  <%= link_to "Edit this entry", edit_bird_path(@bird), class: "edit_button" %>
</div>
<br>
<div class="actions centered">
  <%= button_to "Delete this entry", @bird, class: "delete_button", method: :delete %>
</div>
