<!DOCTYPE html>
<html>
  <head>
    <title>The Efficient Birder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= display_meta_tags(MetaTagService.defaults) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="mapbox-access-token" content="<%= ENV['MAPBOX'] %>">

    <%# <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%# <%= wicked_pdf_javascript_include_tag "number_pages" %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <br><br><br><br><br>

    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
