<!DOCTYPE html>
<html>
  <head>
    <title>The Efficient Birder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= display_meta_tags(MetaTagService.defaults) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# nice! %>
    <meta name="mapbox-access-token" content="<%= ENV['MAPBOX'] %>">
  </head>

  <body>
    <%# good use of partials! %>
    <%= render partial: "shared/navbar" %>
    <br><br><br><br><br>
    <%# could use a partial for flashes %>
    <% if notice.present? %>
      <p class="notice centered notice_message"><%= notice %></p>
    <% end %>
    
    <% if alert.present? %>
      <p class="alert centered alert_message"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
